body            { font-family: helvetica neue, sans-serif; background: White; }
a, h1, h2       { color: #1f77b4; }
h1, h2, h3      { font-family: 'Helvetica Neue', serif; color: #fff; margin: 0; 
                  background-color: #1f77b4; padding: 8px; }
h1              { border-bottom: 2px solid #ccc; border-top-left-radius: 15px;
                  border-top-right-radius: 15px; }
h2              { font-size: 1.2em; }
h3				{ font-size: 1em; }
li				{ margin: 12px;}

.page-primary	{ padding: 8px; }
.subheading		{ color: #444; background: #fff; padding-left: 12px; }
.page           { margin: 1em auto; width: 95%; border: 0px solid #fff;
                  padding: 1em; background: white; }
.metanav        { text-align: left; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.graph			{ border: 1px solid #777; padding: 23px; }
.footer			{ border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
				  text-align: center; margin-top: 15px; }
				  
#grad1 {
    background: #1f77b4; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #1f77b4 , #f9f9f9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #1f77b4 , #f9f9f9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #1f77b4 , #f9f9f9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #1f77b4 , #f9f9f9); /* Standard syntax (must be last) */
}